SIGNUP_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
SIGNUP_SCRIPT_SECRET=
# Optional additional website origins, comma separated. Never use a wildcard.
SIGNUP_ALLOWED_ORIGINS=
